.orderTable{
    width: 80%;
    min-height: 50vh;
    margin: 1% auto;
}


@media only screen and (max-width: 1200px){
    .orderTable{
        width: 99%; 
        overflow-x: auto;
    }
    table {
        width: fit-content;
      }
}