<div class="loginContainer">
    <div class="errorDiv"> {{errorDiv}} </div>
<p>
    <mat-form-field appearance="outline" [formGroup]="loginForm">
        
        <mat-label for="username">Användarnamn</mat-label>
        
        <input type="text" id="username" name="username" matInput placeholder="Användarnamn"  required 
        minlength="3" formControlName="username" >
        <mat-icon matSuffix>login</mat-icon>
        <mat-hint class="error" *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">Minst 3 tecken</mat-hint>
    </mat-form-field>
    
</p>

<mat-form-field [formGroup]="loginForm">
<mat-label for="password">Lösenord</mat-label>
<input type="password" id="password" matInput [type]="hide ? 'password' : 'text'" name="password" required  minlength="3" formControlName="password">
<button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</button>
<mat-hint class="error" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">Minst 3 tecken</mat-hint>
</mat-form-field>    
<div>
    <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.valid">Logga in</button>
</div>

</div>

