<div class="loginContainer">
    <div class="errorDiv"> {{errorDiv}} </div>
<p>
    <mat-form-field appearance="outline">
        
        <mat-label for="username">Användarnamn</mat-label>
        <input type="text" id="username" matInput placeholder="Placeholder" [(ngModel)]="username">
        <mat-icon matSuffix>login</mat-icon>
        
    </mat-form-field>
</p>
<mat-form-field>
<mat-label for="password">Lösenord</mat-label>
<input type="password" id="password" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
<button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</button>
<mat-hint>lösenord</mat-hint>
</mat-form-field>    
<button mat-raised-button color="primary" (click)="login()">Logga in</button>
</div>

